/* css/styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.sidebar ul li a:hover {
    color: black;
    background-color: rgb(251, 241, 108);
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

header #logout {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

header #logout:hover {
    background-color: #d32f2f;
}

.section {
    margin-bottom: 20px;
}
/*Form*/
button {
    padding: 10px 20px;
    background-color: rgb(251, 241, 108);
    color: black;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.form-container {
    display: none;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}

form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

form #cancel-agent-btn {
    background-color: #f44336;
    margin-top: 10px;
}

form #cancel-agent-btn:hover {
    background-color: #d32f2f;
}


.container {
    position: absolute;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

#profile-info {
    display: flex;
    flex-direction: column;
}

.info-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

span {
    display: inline-block;
}

#profile-pic {
    width: 220px;
    height: 200px;
    border-radius: 50%;
    margin-top: 10px;
    border: 2px solid #747171;
}

button {
    display: block;
    margin: 20px 0 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-group input{
    width: 500px;
	padding: 5px;
    font-size: 14px;
    margin-bottom: 5px;
    border: 2px solid #333;
    height: 25px;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px; 
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
