/*--------Estilos Gerais----------*/
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    cursor: pointer;

}
a{
    text-decoration: none;
}
button{
    margin: 2px 2px 2px -2px;
    background-color: rgb(251, 241, 108);
    border-radius: 8px;
    font-size: 20px;
    padding: 15px;
    border-style: none;
    background-color: none;
}
button a{
    color: black;
}
body{
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
body.loaded{
    opacity: 1;
}
/*--------Cabeçalho------------*/
header{
    background-color: rgb(0, 0, 0,0.765);
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}
nav, ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav,ul,li{
    border-radius: 6px;
    color: white;
    list-style: none;
    margin: 0 23px;
    padding: 7px;
}
li:hover{
    background-color: rgb(248, 214, 129);
    color: black;
}
hr{
    filter: blur(2px);
    border: 0.5px solid black;
}


/*Corpo(Formulário)*/
/*---------------BI------------------*/

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.form input{
    border-radius: 10px;
}
.form-Bi{
    display: flex;
    flex-direction: column;
   
}
.form-Bi div{
    display: flex;
    flex-direction: column;
}
.form-Bi input{
	width: 500px;
	padding: 5px;
    font-size: 14px;
    margin-bottom: 5px;
    border: 1px solid #cdcf4e;
    height: 30px;
}

.form-Bi label{
font-size: 14px;
margin: 10px 0;

}
.form-Passport{
    display: flex;
    flex-direction: column;
}
.form-Passport input{
	width: 500px;
	padding: 5px;
    font-size: 14px;
    margin-bottom: 5px;
    border: 1px solid #cdcf4e;
    height: 30px;
}
.form-Passport label{
 padding: 5px 0 0 0;
}
.form-certidao{
    display: flex;
    flex-direction: column;
}
.form-certidao input{
    width: 500px;
	padding: 5px;
    font-size: 14px;
    margin-bottom: 5px;
    border: 1px solid #cdcf4e;
    height: 30px;
}
.form-certidao label{
    padding: 5px 0 0 0;

}
.container-certidao{
    margin: 10px 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.container-certidao img{
    width: 400px;
}
/*---------------Rodapé------------------*/
.fala-connosco{
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(Imagens/Holding.jpeg);
    height: 400px;
    width: 100%;
    padding: 20px 0;
    color: white;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.fala-connosco div p{
    width: 350px;
    text-align: justify;
    font-size: 15px;
    line-height: 25px;
    margin: 5px 0;

}
.fala-connosco div{
    display: flex;
    flex-direction: column;
}
.fala-connosco div input{
    width: 350px;
    border-radius: 10px;
    border: none;
    padding: 20px;
    font-size: 15px;
    color: rgb(14, 13, 13);

}
.footer{
padding: 20px;
}
.footer img{
    width: 200px;
    height: 40px;
}
#Migracao{
    width: 50px;
    height: 50px;
}